

<h1>FizzBuzz - MVC</h1>

<form asp-action="Solve">
    <div class="row">
        <div class="col">
            <input type="text" name="Fizz" value="Enter Number"/>
        </div>
        <div class="col">
            <input type="text" name="Buzz" value="Enter Number"/>
        </div>
        <div class="col">
            <button class="btn btn-outline-danger" type="submit" id="btnFizzbuzz">Fizz!?</button>
        </div>
    </div>
</form>

<div class="row">
    <div class="col">
        @ViewData["Solution"]
    </div>
</div>
